.imagenes{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
 min-height: 80vh;
 background-color: rgb(131, 23, 122);
 max-width: 80%;
 margin:2% auto;
 border-radius: 15px;
 position: relative;
 
}
